.cor1 {
    font-size: 20pt;
    color: rgb(255, 255, 255);
}

.cor2 {
    font-size: 20pt;
    color: rgb(255, 255, 255);
}

.cor3 {
    font-size: 20pt;
    color: rgb(255, 255, 255);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#menu li {
    display: inline;
    margin: 15pt;
}

#menu li a {
    text-decoration: none;
    color: white;
    font-size: 15pt;
}

#menu li a:hover {
    color: dimgrey;
}

.padding {
    padding: 6pt;
}

.conteudo {
    border-radius: 5%;
}

.dimensoes {
    width: 360px;
    height: 360px;
}

.container-logo {
    display: inline;
    flex-flow: row;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
    animation: neon 3s alternate infinite ease-in-out;
    --cor-neon: dimgrey;
}

.logo {
    width: 30px;
    height: 30px;
}

.margem-rodape {
    margin-bottom: 15px;
}

@keyframes neon {
    from {
        filter: drop-shadow(0 0 0 var(--cor-neon));
    }
    to {
        filter: drop-shadow(0 0 3px var(--cor-neon));
    }
}

.btn-14 {
    background: rgb(255, 151, 0);
    border: none;
    z-index: 1;
}

.btn-14:after {
    position: absolute;
    content: "Enviar";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #eaf818;
    background-image: linear-gradient(315deg, #ffbb00 0%, black 74%);
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5);
    transition: all 0.3s ease;
}

.btn-14:hover {
    color: #000;
}

.btn-14:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
}

.btn-14:active {
    top: 2px;
}